@charset "utf-8";
/* CSS Document */
body{
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size:1em;
	padding:10px;
}
@media screen and (max-device-width:767px){
body {
  font-size:0.2em;
}
}
/*header部分*/
header{
	background:#3CF;
  	padding-bottom:20px;
}
header img{
	height:100%;
	width:100%;
	} 
/*标题字体*/
.theme{
	font-size:5em;
	font-style:italic;
}
.search{padding-top:80px;}
/*导航条*/
nav{
  background-color:#CCC;
  font-size:1.5em;
  margin:10px 0px;
}

